" Amar Paul's init.vim (for Neovim)
let g:vim_home = expand('~/.config/nvim/config.vim/')

let config_list = [
    \ 'plugins.vim',
    \ 'settings.vim',
    \ 'keybinds.vim',
    \ 'autocmds.vim',
    \ 'plugin_settings/*.vim',
    \ 'plugin_settings/*.lua',
    \ ]

for files in config_list
    for f in glob(g:vim_home . files, 1, 1)
        exec 'source' f
    endfor
endfor

" prep for lua switchover
lua require "core.options"
lua require "core.autocmds"
lua require "core.mappings"
lua require "core.highlights"

" once i migrate plugin config, these won't be included here
lua require "configs.airline"
lua require "configs.gitsigns"
lua require "configs.treesitter"
lua require "configs.telescope"
