{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $git_user := promptStringOnce . "git_user" "Git User" -}}
{{- $work := promptBoolOnce . "work" "work" -}}

{{- $server_shortname := promptStringOnce . "server_shortname" "Server (shortname)" -}}
{{- $server_name := promptStringOnce . "server_name" "Server FQDN" -}}
{{- $server_port := promptIntOnce . "server_port" "Server Port" -}}

[data]
    encryption = "gpg"

    email = {{ $email | quote }}
    git_user = {{ $git_user | quote }}
    work = {{ $work }}
    server_shortname = {{ $server_shortname | quote }}
    server_name = {{ $server_name | quote }}
    server_port = {{ $server_port }}
{{ if $work }}
{{- $imap_user := promptStringOnce . "imap_user" "imap_user" }}
{{- $imap_folder := promptStringOnce . "imap_folder" "imap_folder" }}
    imap_user = {{ $imap_user | quote }}
    imap_folder = {{ $imap_folder | quote }}
    work_mattermost = ""
{{- end }}

[gpg]
    recipient = "Amar Paul"

[diff]
    pager = "less -FX"

[edit]
    hardlink = false
