# lots of ideas taken from
# https://gist.github.com/pksunkara/988716
[user]
	name = Amar1729
	email = amar.paul16@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	# nicely formatted history (includes all branches)
	hist = log --graph --abbrev-commit --decorate --all --date=short \
		 --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ad%C(reset) | %C(white)%s%C(reset) %C(dim green)[%an]%C(reset) %C(bold yellow)%d%C(reset)'
	# history of specific branch
	histb = log --graph --abbrev-commit --decorate \
		  --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim green)[%an]%C(reset)'
	# longer format for really looking through history
	histl = log --graph --abbrev-commit --decorate --all \
		  --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim green)[%an]%C(reset)%n'
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[pager]
	stash = false
