[user]
	name = Amar1729
	email = amar.paul16@gmail.com
[alias]
	co = checkout
	ci = commit
	#st = status -sb
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
