[alias]
	c = clone
	d = diff
	ds = diff --staged
	co = checkout
	ci = commit
	st = status
	stb = status -sb
	stn = status -sb -uno
	br = branch
	m = merge
	ma = merge --abort
	rc = rebase --continue
	ra = rebase --abort
	p = pull
	pr = pull --rebase
	rv = remote -v
	rH = reset HEAD

	sts = stash
	sta = stash apply
	std = stash drop

	short = rev-parse --short HEAD

	# nicely formatted history (includes all branches)
	hist = log --graph --abbrev-commit --decorate --all --date=short \
		 --format=format:'%C(bold blue)%h%C(reset) %C(bold cyan)%ad%C(reset) | %C(white)%s%C(reset) %C(dim green)[%an]%C(reset) %C(bold yellow)%d%C(reset)'
	# history of specific branch
	histb = log --graph --abbrev-commit --decorate \
		  --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim green)[%an]%C(reset)'
	# longer format for really looking through history
	histl = log --graph --abbrev-commit --decorate --all \
		  --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim green)[%an]%C(reset)%n'

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[http]
    sslVerify = false

[credential]
    helper = cache --timeout=600

[pager]
	stash = false
