!using pywal
!#include ".cache/wal/colors.Xresources"
#include ".config/xresources/gruvbox-dark.xresources"

! maybe this doesn't work on my '09 mbp because of weird resolution?
! finally figured out font naming (use fc-match)
!URxvt.font: xft:Fantasque Sans Mono:size=12
!URxvt.font: xft:Iosevka:size=12
!URxvt.font: xft:DejaVu Sans:size=8

*transparent: true
*shading: 30

*scrollBar: false
!*fading: 20
*internalBorder: 10

*iso14755: false
!*keysym.Shift-Control-V: perl:clipboard:paste
*perl-ext-common: default,clipboard
URxvt.keysym.S-c:	perl:clipboard:copy
URxvt.keysym.S-v:	perl:clipboard:paste
URxvt.keysym.S-C-v:	perl:clipboard:paste_escaped
!URxvt.keysym.Shift-Control-C:	perl:clipboard:copy
!URxvt.keysym.Shift-Control-V:	perl:clipboard:paste
URxvt.clipboard.copycmd: xclip -selection clipboard
URxvt.clipboard.pastecmd: xclip -o

! backward/forward a word (alt)
! be wary of changing these - i think lack of oh-my-zsh may mess things up? not sure tbh
!URxvt.keysym.M-Left:	\033[1;5D
URxvt.keysym.M-Left:	\033b
!URxvt.keysym.M-Right:	\033[1;5C
URxvt.keysym.M-Right:	\033f
