#include ".config/xresources/gruvbox-dark.xresources"

!*font: xft:fantasque sans mono regular:size=14:antialias=false
!*font: xft:roboto mono:size=12:antialias=true
!URxvt.font: xft:iosevka term light:size=12:antialias=true

*transparent: true
*shading: 30

*scrollBar: false
!*fading: 20
*internalBorder:40

*iso14755: false
*keysym.Shift-Control-V: perl:clipboard:paste
*perl-ext-common: default,clipboard
