{{ if (eq .chezmoi.os "linux") -}}
# execute this xinitrc with `nvidia-xrun`
# useful for computers that have multiple (e.g. integrated/dedicated) gpus
# nvidia-xrun will start an xsession using the NVIDIA GPU on board, from which
# you can start steam/lutris etc

# note:
# apparently, i may be able to use these lines to make X use nvidia gpu at init:
# https://bbs.archlinux.org/viewtopic.php?id=240229
# xrandr --setprovideroutputsource modesetting NVIDIA-0
# xrandr --auto

if [ $# -gt 0 ]; then
    $*
else
    # ~/.nvidia-settings-rc can be generated initially with:
    # nvidia-settings --rewrite-config-file
    nvidia-settings --load-config-only &

    # only load this up while running under GPU
    conky -c ~/.config/conky-gpu/conkyrc

    . ~/.xinitrc
fi
{{- end }}
