# sensitive tokens

# chatter1 slack token (for slack cli)
export SLACK_TOKEN="{{ pass "tokens/slack.chatter1" }}"

# github access token for homebrew
export HOMEBREW_GITHUB_API_TOKEN="{{ pass "tokens/github.homebrew-api" }}"

# for gh cli
export GITHUB_TOKEN="{{ pass "tokens/github" }}"
