{{ if (eq .chezmoi.os "linux") -}}
# source from .xinitrc
# contains general "profile" things e.g. keybinds

export LANG="en_US.UTF-8"

xrdb ~/.Xresources

# note - i have some rebindings e.g. caps lock -> escape here.
# these obviously will only work inside x sessions; use loadkeys
# for rebinding system-wide (e.g. a multi-user.terminal?)
xmodmap ~/.Xmodmap

#xset +fp ~/.fonts
    # https://github.com/sunaku/tamzen-font
    #xset +fp ~/.fonts/tamzen-font/bdf/
    #xset +fp ~/.fonts/tamzen-font/dfont/
#xset fp rehash
#xset -b

xsetroot -cursor_name left_ptr
{{- end }}
