#!/bin/bash

set -eufo pipefail

PKG_DIR="$("$HOME"/bin/chezmoi" source-path)"/dot_config/packages

{{ if (eq .chezmoi.os "darwin") -}}

xcode-select install

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# generate with `brew bundle dump`
brew bundle --no-lock --file="${PKG_DIR}/Brewfile"

/usr/local/bin/pip3 install --user pynvim jedi

{{ if .work -}}
    brew bundle --no-lock --file="${PKG_DIR}/Brewfile-work"
{{- end }}

{{ else if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.id "arch") -}}

sudo pacman -Syu
sudo pacman -S --needed - < "${PKG_DIR}/arch-pacman.txt"

{
    [[ -d /tmp/yay ]] && rm -rf /tmp/yay
    git clone https://aur.archlinux.org/yay-git.git /tmp/yay
    cd /tmp/yay
    makepkg -si
}

yay -S --needed - < "${PKG_DIR}/arch-aur.txt"

{{-   end }}

{{- end }}

# install pipx pkgs
# generate with `pipx list|grep package|awk '{print $2}'`
cat "${PKG_DIR}/pipx.txt" | xargs -n1 pipx install

# cargo install racer sccache
