"""
" General plugin settings and keybinds
"""


" treesitter
lua <<EOF
require'nvim-treesitter.configs'.setup {
  -- "all"  | {"list of languages"}
  ensure_installed = "all",
  ignore_install = { "phpdoc", "php" },
  sync_install = false,

  highlight = {
    enable = true,
    disable = {},
    additional_vim_regex_highlighting = false,
  },

  incremental_selection = {
      -- default keymaps: init / node inc / scope inc / node dec
      -- gnn / grn / grc / grm
      enable = true,
      keymaps = {
          init_selection = "<M-n>",
          node_incremental = "<M-n>",
          scope_incremental = "<M-p>",
          node_decremental = "<M-i>",
      }
  },

  indent = {
      enable = false,
  },

  -- provided by nvim-treesitter-textobjects plugin
  textobjects = {
      select = {
          enable = true,

          -- automatically jump forward to textobj
          lookahead = true,

          keymaps = {
              ["af"] = "@function.outer",
              ["if"] = "@function.inner",
              ["ac"] = "@class.outer",
              ["ic"] = "@class.inner",
          },
      },

      -- todo: neovim provides mappings for jumping over functions
      -- [[, ]], [m, ]M,
      -- should i add these as text object movements, or keep them as nvim-provided?
      move = {
          enable = true,
          set_jumps = true,
          goto_next_start = {
              ["]a"] = "@parameter.inner",
          },
          goto_next_end = {
              ["]A"] = "@parameter.outer",
          },
          goto_previous_start = {
              ["[a"] = "@parameter.inner",
          },
          goto_previous_end = {
              ["[A"] = "@parameter.outer",
          },
      },

      swap = {
          enable = true,
          swap_next = {
              ["<leader>a"] = "@parameter.inner",
          },
          swap_previous = {
              ["<leader>A"] = "@parameter.inner",
          },
      },
  },

  -- provided by p00f/nvim-ts-rainbow
  rainbow = {
      enable = true,
      extended_mode = true,
  },
}
EOF


" nvim-lspconfig
" put some LSP actions in right-click popup menu
unmenu PopUp.Paste
unmenu PopUp.Select\ All
unmenu PopUp.-1-
unmenu PopUp.How-to\ disable\ mouse
anoremenu PopUp.Diagnostic :lua vim.diagnostic.open_float()<CR>
anoremenu PopUp.Rename :lua vim.lsp.buf.rename()<CR>
anoremenu PopUp.TypeDefinition :lua vim.lsp.buf.type_definition()<CR>


" popup lsp_signature automatically
lua require('lsp_signature').setup({ bind = true })


" use color 2 for the new window border
lua require('colorful-winsep').setup()


" python info - is this still required?
" gtfo py2
let g:python_host_prog=''
{{ if (eq .chezmoi.os "darwin") -}}
{{ if (eq .chezmoi.arch "arm64") -}}
let g:python3_host_prog='/opt/homebrew/bin/python3'
{{ else -}}
let g:python3_host_prog='/usr/local/bin/python3'
{{- end }}
{{ else if (eq .chezmoi.os "linux") -}}
let g:python3_host_prog='/usr/bin/python3'
{{- end }}


" vimwiki settings
let wiki_1 = {}
let wiki_1.path = '~/Dropbox/wiki/'
"let wiki_1.html_template = '~/public_html/template.tpl'
"let wiki_1.nested_syntaxes = {'python': 'python', 'c++': 'cpp'}

let wiki_2 = {}
let wiki_2.path = '~/Documents/Personal/work_wiki/'
"let wiki_2.index = 'main'

let g:vimwiki_list = [wiki_1, wiki_2]


" leap.nvim
lua require('leap').add_default_mappings()


" setup flit
lua require('flit').setup({
\    labeled_modes = "n",
\        special_keys = {
\            repeat_search = { "<Enter>" },
\        },
\    opts = {
\        special_keys = {
\            repeat_search = { "<Enter>" },
\        }
\    },
\ })

lua require('leap-spooky').setup({
\    paste_on_remote_yank = true,
\    })


" hlslens - immediately search selected text with * or #
" (note this is more powerful than builtin "search word")
lua <<EOF
local hlslens = require('hlslens')

hlslens.setup {
  calm_down = false,
  nearest_only = true,
  virt_priority = 10,
}
EOF


" telescope searching
lua <<EOF
local actions = require("telescope.actions")
require("telescope").setup{
  defaults = {
    -- trim leading space from matches
    vimgrep_arguments = {
      "rg",
      "--color=never",
      "--no-heading",
      "--with-filename",
      "--line-number",
      "--column",
      "--smart-case",
      "--trim" -- add this value
    },
    mappings = {
      i = {
        ["<esc>"] = actions.close,
        ["<C-u>"] = false
      },
    },
    extensions = { fzf },
  }
}

require('telescope').load_extension('fzf')

-- try to find git_files; otherwise fall back to regular find_files
project_files = function()
  local opts = {} -- define here if you want to define something
  local ok = pcall(require"telescope.builtin".git_files, opts)
  if not ok then require"telescope.builtin".find_files(opts) end
end
EOF


" LSP Diagnostics - better signs
sign define DiagnosticSignError text=x
sign define DiagnosticSignWarn text=!
sign define DiagnosticSignInfo text=>
sign define DiagnosticSignHint text=?

lua require('Comment').setup()
