"dein Scripts-----------------------------
if &compatible
  set nocompatible               " Be iMproved
endif

" Required:
set runtimepath+=~/.cache/dein/repos/github.com/Shougo/dein.vim

" Required:
if dein#load_state('~/.cache/dein/')
  call dein#begin('~/.cache/dein/')

  " Let dein manage dein
  " Required:
  call dein#add('~/.cache/dein/repos/github.com/Shougo/dein.vim')


  " Themes:

  " gruvbox colorscheme
  call dein#add('morhetz/gruvbox')

  " pywal vim colorscheme
  call dein#add('dylanaraps/wal.vim')

  " powerline that works with neovim
  call dein#add('vim-airline/vim-airline')
  call dein#add('vim-airline/vim-airline-themes')

  call dein#add('nvim-zh/colorful-winsep.nvim')


  " Engines, code style:

  " use treesitter for language features
  call dein#add('nvim-treesitter/nvim-treesitter', {'hook_post_update': 'TSUpdate'})
  call dein#add('nvim-treesitter/nvim-treesitter-context')
  call dein#add('nvim-treesitter/nvim-treesitter-textobjects')
  call dein#add('https://git.sr.ht/~p00f/nvim-ts-rainbow/')

  " lsp-based code completions
  call dein#add('neovim/nvim-lspconfig')
  call dein#add('hrsh7th/cmp-nvim-lsp')
  call dein#add('hrsh7th/cmp-buffer')
  call dein#add('hrsh7th/cmp-path')
  call dein#add('hrsh7th/cmp-cmdline')
  call dein#add('hrsh7th/nvim-cmp')

  " For vsnip users.
  call dein#add('hrsh7th/cmp-vsnip')
  call dein#add('hrsh7th/vim-vsnip')
  call dein#add('rafamadriz/friendly-snippets')

  " for calling signature_help while in insert mode
  call dein#add('ray-x/lsp_signature.nvim')
  

  " Quality of life:

  " tmux/vim interop
  call dein#add('christoomey/vim-tmux-navigator')

  " requried for some lua plugins
  call dein#add('nvim-lua/plenary.nvim')

  call dein#add('nvim-telescope/telescope.nvim', { 'rev': '0.1.x' })
  call dein#add('nvim-telescope/telescope-fzf-native.nvim', { 'build': 'cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=Release && cmake --build build --config Release && cmake --install build --prefix build' })

  " (lua) git signs (replaced airblade/gitgutter)
  call dein#add('lewis6991/gitsigns.nvim')

  " for surrounding phrases with characters
  call dein#add('tpope/vim-surround')

  " nice completion of (x)html tags
  call dein#add('tpope/vim-ragtag')

  " vim wiki
  call dein#add('vimwiki/vimwiki')

  " line diffing
  call dein#add('AndrewRadev/linediff.vim')

  " typewriter
  "call dein#add('Amar1729/vimty')

  " use git from inside vim
  call dein#add('tpope/vim-fugitive')

  " general improvements
  call dein#add('tpope/vim-unimpaired')
  call dein#add('tpope/vim-repeat')

  " plugins for movement
  call dein#add('bkad/CamelCaseMotion')
  call dein#add('ggandor/leap.nvim')
  call dein#add('ggandor/flit.nvim')
  call dein#add('ggandor/leap-spooky.nvim')

  " cool searching
  call dein#add('kevinhwang91/nvim-hlslens')


  " Language-specific syntax support, completions:

  " Live LaTeX previewing
  "call dein#add('xuhdev/vim-latex-live-preview')

  " Different LaTeX live previewing (vllp currently broken for TeXLive2016 ?)
  "call dein#add('donRaphaco/neotex')
  " no, I think this only works for vim?

{{- if (eq .chezmoi.os "linux") }}
  " sxhkd
  call dein#add('kovetskiy/sxhkd-vim')
{{- end }}
{{ if .work }}
  " antlr files (.g4 and .g3)
  call dein#add('dylon/vim-antlr')
{{- end }}

  " powershell (ugh)
  call dein#add('PProvost/vim-ps1')

  " chezmoi templating/support
  call dein#add('alker0/chezmoi.vim')

{{- if (eq .chezmoi.os "darwin") }}

  " skhd
  call dein#add('amar1729/skhd-vim-syntax')
{{- end }}

  call dein#add('folke/neodev.nvim')

  " Required:
  call dein#end()
  call dein#save_state()
endif

" Required:
filetype plugin indent on

" If you want to install not installed plugins on startup.
" (Annoying when you're testing lots of different plugins)
if dein#check_install()
  call dein#install()
endif

"End dein Scripts-------------------------
