"""
" Personal Settings
"""

{{- if (eq .chezmoi.os "linux") }}
" override some defaults (only needed on ubuntu?)
set foldmethod=manual
set foldcolumn=2
{{- end }}

" zsh-style tab completion
" complete to longest common substring (list:longest) then show completions in
" statusline (full)
set wildmode=list:longest,full
" ignore case during completion
set wildignorecase

" file explorer sidebar
let g:netrw_banner = 0
let g:netrw_liststyle = 3
let g:netrw_browse_split = 4
let g:netrw_altv = 1
let g:netrw_winsize = 20

" make sure vim8 can delete things (???)
" not sure why i need to manually set some of these things
if has('nvim') == 0
    set backspace=indent,eol,start
    set incsearch hlsearch
endif
