"""
" Personal Settings
"""

" colorscheme gruvbox
colorscheme wal
set background=dark
set relativenumber number
set expandtab tabstop=4 softtabstop=4 shiftwidth=4 softtabstop=4

" allow mouse control
set mouse=a

{{- if (eq .chezmoi.os "linux") }}
" override some defaults (only needed on ubuntu?)
set foldmethod=manual
set foldcolumn=2
{{- end }}

" zsh-style tab completion
" complete to longest common substring (list:longest) then show completions in
" statusline (full)
set wildmode=list:longest,full
" ignore case during completion
set wildignorecase

" case-insensitive, smart search for /, ?
set ignorecase smartcase

" hide modified buffers (allow opening of new buffers if current is edited)
set hidden

" autoread changes made outside vim
set autoread

" persistent undo!
set undofile

" file explorer sidebar
let g:netrw_banner = 0
let g:netrw_liststyle = 3
let g:netrw_browse_split = 4
let g:netrw_altv = 1
let g:netrw_winsize = 20

" keep equalized splits on window resize
autocmd VimResized * wincmd =

" make sure vim8 can delete things (???)
" not sure why i need to manually set some of these things
if has('nvim') == 0
    set backspace=indent,eol,start
    set incsearch hlsearch
endif

" spell check
" dont spell-check by default, it's a bit noisy in codefiles
set nospell spelllang=en_us

au BufEnter *.txt,*.md,*.tex setlocal spell

set splitbelow splitright

" identify cursor line number visually
" cursorlineopt=both (line and number) is too much
" see plugin/colorize-border.vim for augroups that recolor CursorLineNr on
" insert enter/leave
set cursorline cursorlineopt=number
highlight CursorLineNr cterm=none ctermfg=white

highlight Pmenu ctermbg=Black
" switch these two around
highlight PmenuSbar ctermfg=8 ctermbg=8 guibg=White
highlight PmenuThumb ctermfg=7 ctermbg=6 guibg=Grey

" Colors for - neovim treesitter
" https://github.com/dylanaraps/wal.vim/pull/34/files
hi TSInclude ctermbg=NONE ctermfg=5
hi TSNamespace ctermbg=NONE ctermfg=4
hi TSRepeat ctermbg=NONE ctermfg=5
hi TSOperator ctermbg=NONE ctermfg=4
"
