# Setup fzf

{{ if (eq .chezmoi.os "darwin") -}}
PREFIX=/usr/local/opt/fzf/shell
{{ else if (eq .chezmoi.os "linux") -}}
PREFIX=/usr/share/fzf
{{- end }}

# Auto-completion
# ---------------
[[ $- == *i* ]] && \
    [[ -f $PREFIX/completion.zsh ]] && source "$PREFIX/completion.zsh" 2>/dev/null

# Key bindings
# ------------
[[ -f $PREFIX/key-bindings.zsh ]] && source "$PREFIX/key-bindings.zsh"
